[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
whitenoise = "*"
pillow = "*"
django-countries = "*"
django-crispy-forms = "*"
django-heroku = "*"
django-environ = "*"
django-weasyprint = "*"
python-dotenv = "*"
xhtml2pdf = "*"
django-extensions = "*"
werkzeug = "*"
django-sslserver = "*"
django-smtp-ssl = "*"

[dev-packages]

[requires]
python_version = "3.9"
