asgiref==3.5.2
boto3==1.24.15
botocore==1.27.15
Brotli==1.0.9
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
cloudinary==1.29.0
cssselect2==0.6.0
dj-database-url==0.5.0
Django==4.0.6
django-cloudinary-storage==0.3.0
django-countries==7.3.2
django-crispy-forms==1.14.0
django-environ==0.9.0
django-heroku==0.3.1
django-js-asset==2.0.0
django-weasyprint==2.1.0
fonttools==4.34.4
future==0.18.2
gunicorn==20.1.0
html5lib==1.1
idna==3.3
jmespath==1.0.1
Paperboy==1.0.1
Pillow==9.2.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
pycparser==2.21
pydyf==0.2.0
pyphen==0.12.0
python-dateutil==2.8.2
python-dotenv==0.20.0
requests==2.28.1
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.2
tinycss2==1.1.1
typing_extensions==4.3.0
urllib3==1.26.10
weasyprint==56.0
webencodings==0.5.1
whitenoise==6.2.0
zopfli==0.2.1
