<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CSS Link -->
    <!-- <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/shopping.css"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  </head>
  <body>
      


    <li>
                                    
        <div id="carousel-example-one" class="carousel slide">
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="image1" src="/images/sneakers1.PNG" alt="First Slide">
                </div>

                <div class="carousel-item bg-dark">
                    <img src="/images/sneakers1.PNG" alt="Second Slide">
                </div>

                <div class="carousel-item">
                    <img src="/images/sneakers1.PNG" alt="Third Slide">
                </div>
            </div>

            <!-- Carousel controls -->
            <a class="carousel-control-prev" href="#carousel-example-one" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-one" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        <!-- <div class="leg_wear"> <img src="/images/leg-wear.jpg" alt=""></div> -->
        <div class="might_like_details">
            <button class="add_to_bag"><a href="/pages/myBag.html">ADD TO CART</a></button>
            <div class="d-flex justify-content-between w-100">
                <h6>Suede Black</h6>
                <p class=" font-weight-bold pb-0">$80.00</p>
            </div>
            <small class="text-danger d-block">EXCLUDED FROM DISCOUNT</small>
            <p class="bg-dark text-white py-1 px-2 d-inline font-weight-bold pb-0">NEW</p>
        </div>
    </li>

    <li>
                                    
        <div id="carousel-example-two" class="carousel slide">
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="image1" src="/images/sneakers1.PNG" alt="First Slide">
                </div>

                <div class="carousel-item bg-dark">
                    <img src="/images/sneakers1.PNG" alt="Second Slide">
                </div>

                <div class="carousel-item">
                    <img src="/images/sneakers1.PNG" alt="Third Slide">
                </div>
            </div>

            <!-- Carousel controls -->
            <a class="carousel-control-prev" href="#carousel-example-two" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-two" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        <!-- <div class="leg_wear"> <img src="/images/leg-wear.jpg" alt=""></div> -->
        <div class="might_like_details">
            <button class="add_to_bag"><a href="/pages/myBag.html">ADD TO CART</a></button>
            <div class="d-flex justify-content-between w-100">
                <h6>Suede Black</h6>
                <p class=" font-weight-bold pb-0">$80.00</p>
            </div>
            <small class="text-danger d-block">EXCLUDED FROM DISCOUNT</small>
            <p class="bg-dark text-white py-1 px-2 d-inline font-weight-bold pb-0">NEW</p>
        </div>
    </li>






<script>
    

    $(document).ready(function () {
            $("#carousel-example-one").carousel({
                interval: false
            });
            $("#carousel-example-two").carousel({
                interval: false
            });
            $("#carousel-example-two").carousel({
                interval: false
            });
            $("#carousel-example-two").carousel({
                interval: false
            });
            $("#carousel-example-two").carousel({
                interval: false
            });
            $("#carousel-example-two").carousel({
                interval: false
            });
            $("#carousel-example-two").carousel({
                interval: false
            });
            $("#carousel-example-two").carousel({
                interval: false
            });
            
        });

</script>


    <script src="/main.js"></script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>