{% extends "pages/base.html"%}
{% load static %}

{% block content %}
        <!--********************** HERO SECTION  STARTs *************************** -->
        <link rel="stylesheet" href="{% static 'css/about.css' %}">
        <div id="content-d" class="category">

            <section>

                <div class="about_us_image  ">
                    <div class="d-flex justify-content-center align-items-center text-white">
                        <h1>DXD SYNERGY</h1>
                    </div>
                </div>

                <div class="containers pt-5 py-5">
                    <div class="text-center text-dark">
                        <h3 class="font-weight-bold">OUR IDENTITY</h3>
                        <p class="col-md-6 m-auto">As a world class fashion business, what we do and how we do it has an impact on the people and the world around us.</p>

                    </div><br>
                    <div class="row justify-content-center">

                        <div class="col-m-6">
                            <div class="  m-0 h-100" style="width:40rem">
                                <img src="{% static 'images/tall-buildings.jpg' %}" alt="">
                            </div>
                        </div>

                        <div class="col-md-5 bg-primary text-white p-3">
                            <h5 class="font-weight-bold text-start "><span class="border-bottom border-primary">DXD SYNERGY</span> Corporate Rsponsibility</h5>
                            <p class="text-justify">
                                As a world class fashion business, 
                                what we do and how we do it has an impact on the people 
                                and the world around us. Our stakeholder relationships are key to our success and inform our decision making on 
                                Environmental, Social and Governance (ESG) matters, now 
                                a widely recognised term for what we have always valued – 
                                doing the right thing.
                                We have made good progress on setting our near term and 
                                longer term aspirations but we realise there is still more to do.
                                The principles underpinning our aim to do business 
                                responsibly are unchanged; we seek always to:
                                <div class="p-3">
                                    <ul>
                                        <li>Deliver value to our customers</li>
                                        <li>Act in an ethical manner</li>
                                        <li>Recognise, respect and protect human rights</li>
                                        <li>Develop positive relationships with our suppliers and business partners</li>
                                        <li>Recruit and retain high integrity employees</li>
                                        <li>Take responsibility for our impact on the environment</li>
                                        <li>Provide support through donations to charities and community organisations</li>
                                    </ul>
                                </div>
                                Global issues such as responsible sourcing, human rights and 
                                climate change remain key areas of focus. 
                                In the years ahead, we will continue to make progress towards
                                embedding ESG into our day to day business decisions.
                            </p>
                        </div>

                      

                    </div>
                </div>


                <!-- <div class="containers mt-5 bg-light py-5">
                    <div class="row justify-content-center">
                        <div class="col-md-5">
                            <h3 class="font-weight-bold border-bottom border-bottom-5">Our Vision</h3>
                            <p class="mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis illum
                                officiis, animi hic
                                eligendi non.</p>
                            <p class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis illum officiis,
                                animi hic
                                eligendi non.</p>
                        </div>

                        <div class="col-md-5 pt-sm-3 pt-md-0 pt-lg-0">
                            <h3 class="font-weight-bold text-right border-bottom border-bottom-5">Our Mission</h3>
                            <p class="text-right">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis illum
                                officiis, animi hic
                                eligendi non. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <p class="text-right">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis illum
                                officiis, animi hic
                                eligendi non.</p>
                        </div>
                    </div>
                </div> -->

            </section>

        </div>
{% endblock %}