{% extends "pages/base.html"%}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/delivery.css' %}">
    <main class="aabout-us">
        <section>
            <header>
                <div class="m-auto">
                    <a href="{% url 'dxd:home' %}"><img src="{% static 'images/DXD_synergy_logo.jpg' %}" alt=""></a>
                </div>
                <h3 class="mt-3">DELIVERY AND RETURNS</h3>
                <p>See below for information about the delivery & returns options in your country</p>
            </header>

            <div>
                <div class="  bg-white mb-3">
                    <div class="d-flex  justify-content-between m-auto sub_delivery_content">
                        <div class="w-100 border-right border-bottom text-center">
                            <button class="py-2 delivery active"
                                data-rel="#content-m">DELIVERY</button>
                        </div>
                        <div class="w-100 text-center border-bottom delivery_border">
                            <button class="py-2 delivery" data-rel="#content-n">RETURNS</button>
                        </div>
                    </div>
                </div>

                <div class="delivery_container" id="content-m">
                    <div class="d-flex justify-content-between bg-white p-3 mb-3">
                    </div>

                    <div class="d-flex justify-content-between place-items-center p-3 bg-white">
                        <div>
                            <i class="fa fa-truck fa-2x" aria-hidden="true"></i>
                            <h6>Standard Delivery</h6>
                            <h5>N5000.00</h5>
                            <b>Pay on Delivery -<span class="text-muted"> Lagos & Abuja</span></b> <br>
                        </div>
                        <div>
                            <!-- <i class="fa fa-angle-up fa-2x" aria-hidden="true"></i> -->
                        </div>
                    </div>

                    <div class="delivery_date">
                        <div class="px-4 py-3">
                            <p class="mb-0">Deliver</p>
                            <small>Note: Items are shipped immediately after order placement. </small>
                        </div>
                        <div class="d-flex py-4 pl-3 mb-3">
                            <i class="fa fa-question-circle-o font font-weight-bold" aria-hidden="true"></i>
                            <div class="more_info pl-3">
                                <h6>NEED MORE INFORMATION?</h6>
                                <div>See our <a href="{% url 'dxd:terms-conditions' %}">delivery FAG <div><img src="{% static 'images/clone-icon.png' %}" alt="">
                                        </div></a></div>
                            </div>
                        </div>
                    </div>


                </div>


                <div class="delivery_container" id="content-n">
                    <div class="d-flex justify-content-between bg-white p-3 mb-3">
                        <!-- <div class="flag"><img src="/images/nigerian_flag.png" alt=""></div>
                        <button>CHANGE</button> -->
                    </div>
                    <!-- <i class="fa fa-arrow-up" aria-hidden="true"></i> -->
                    <div class="d-flex justify-content-between place-items-center p-3 bg-white">
                        <div>

                            <div class=""><img src="{% static 'images/post-office-icon.png' %}" alt=""></div>
                            <h6 class="text-muted">Local Post Office</h6>
                            <h6>Local postage rates</h6>
                        </div>
                        <div>
                            <!-- <i class="fa fa-angle-up fa-2x" aria-hidden="true"></i> -->
                        </div>
                    </div>

                    <div class="delivery_date">
                        <div class="px-4 py-3">
                            <ul class="pl-3">
                                <li class="mb-0">Return through your local post office</li>
                                <li class="mb-0">You find a label on your parcel</li>
                            </ul>
                        </div>
                       
                        <div class="d-flex py-4 pl-3 more_info_container2">
                            <i class="fa fa-question-circle-o font font-weight-bold" aria-hidden="true"></i>
                            <div class="more_info pl-3">
                                <h6>NEED MORE INFORMATION?</h6>
                                <div>See our <a href="{% url 'dxd:terms-conditions' %}">Returns FAG <div><img src="{% static 'images/clone-icon.png' %}" alt="">
                                        </div></a></div>
                            </div>
                            
                        </div>
                    </div>



                </div>

            </div>


        </section>
    </main>
{% endblock %}