{% extends "pages/base.html"%}
{% load static %}

{% block content %}

        <!--********************** HERO SECTION   *************************** -->

        <div id="content-d" class="category">

            <div class="container-lg bg-success">
                {% for carousel in carousels %}
                <div id="myCarousel demo" data-ride="carousel" class="carousel slide">
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="sub_category">
                                <ul>
                
                                    <li>
                                        <h4 href="">
                                            <h3 class="pl-4 ml-3 font-weight-bold">{{carousel.name}}</h3><br>
                                            <p>{{carousel.message}}</p>
                                        </h4>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>

                        <div class="carousel-item bg-dark">
                            <div class="sub_category bg-danger">
                                <ul>
                
                                    <li>
                                        <h4 class="justify-content-center align-items-center" href="">
                                            <h3 class="pl-4 ml-3 font-weight-bold">{{carousel.name}}</h3><br>
                                            <p>{{carousel.message1}}</p>
                                        </h4>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="sub_category bg-success">
                                <ul>
                
                                    <li>
                                        <h4 class="justify-content-center align-items-center" href="">
                                            <h3 class="font-weight-bold">{{carousel.name}}</h3><br>
                                            <p>{{carousel.message2}}</p>
                                        </h4>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>

                        </div>
                    </div>

                    <!-- Carousel controls -->
                    <!-- <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a> -->
                </div>
                {% empty %}
                <div id="myCarousel demo" data-ride="carousel" class="carousel slide">
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="sub_category">
                                <ul>
                
                                    <li>
                                        <h4 href="">
                                            <h3 class="pl-4 ml-3">DXD SYNERGY</h3><br>
                                            <p>Dare To Be Extraordinaire...Living The Art</p>
                                        </h4>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>

                        <div class="carousel-item bg-dark">
                            <div class="sub_category bg-danger">
                                <ul>
                
                                    <li>
                                        <h4 href="">
                                            <h3 class="pl-4 ml-3 text-white">DXD SYNERGY</h3><br>
                                            <p class="text-white">Dare To Be Extraordinaire...Living The Art</p>
                                        </h4>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="sub_category bg-success">
                                <ul>
                
                                    <li>
                                        <h4 class="justify-content-center" href="">
                                            <h3 class="pl-4 ml-3 text-white">DXD SYNERGY</h3><br>
                                            <p class="text-white">Dare To Be Extraordinaire...Living The Art</p>
                                        </h4>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>

                        </div>
                    </div>

                    <!-- Carousel controls -->
                    <!-- <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a> -->
                </div>
                {% endfor %}

            </div>

            <section>
                <div class="hero_section">
                    <!-- <div class="text-center hero_section_header"> -->
                        <!-- <h1>This is DXD SYNERGY</h1>
                        <p>DXD SYNERGY and 2000+ products</p> -->
                        <!-- <div> -->
                            <!-- <button class="fashion_category shop_women_button mb-3" data-rel="#content-e">SHOP WOMEN</button>
                            <button class="shop_men_button fashion_category mb-3" data-rel="#content-f">SHOP MEN</button> -->
                        <!-- </div> -->
                    <!-- </div> -->
                    <div class="bottom_hero_section">
                        <p class="mb-0">EASY DELIVERY WORLDWIDE</p>
                        <p class="mb-0">DISCOVER OVER 2000 PRODUCTS</p>
                    </div>
                </div>
            </section>

        </div>

{% endblock %}
