{% extends "pages/base.html"%}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/productDecription.css' %}">
<script src="https://js.paystack.co/v2/inline.js"></script>

<button class="add_to_bag" type="submit" onclick="payWithPaystack()">Pay N{{ total_cost }}</button>

<script>
    function payWithPaystack() {
        let currency ='NGN';
        let plan = "";
        let ref = "{{payment.ref}}";
        let obj = {
            key :"{{PAYSTACK_PUBLIC_KEY}}",
            email:"{{payment.email}}",
            amount:"{{payment.amount_value}}",
            ref:ref,
            callback: function(respons) {
                window.location.href="{% url 'payment:verify-payment' payment.ref %}";
            }
        }
        if (Boolean(currency)){
            obj.currency = currency.toUpperCase()
        }
        if (Boolean(plan)){
            obj.plan = plan;
        }
        var handler = PaystackPop.setup(obj);
        handler.openIframe();
    }
</script>
{% endblock %}