{% extends "pages/base.html"%}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/productDecription.css' %}">
<script src="https://js.paystack.co/v2/inline.js"></script>


<div style="justify-content: center; padding: 20px; margin: auto;" class="card text-center containers py-5 center">
    <div class="card-header">
    
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text"></p>
      <button class="add_to_bag" type="submit" onclick="payWithPaystack()">Pay N{{ payment.amount}}</button>
    </div>
    <div class="card-footer text-muted">
        <p>Copyright © <span class="font-weight-bold">2022</span> DXD-Synergy. All rights reserved</p>
    </div>
    </div>

<script>
    function payWithPaystack() {
        let currency ='NGN';
        let plan = "";
        let ref = "{{payment.ref}}";
        let obj = {
            key :"{{PAYSTACK_PUBLIC_KEY}}",
            email:"{{payment.email}}",
            amount:"{{payment.amount_value}}",
            ref:ref,
            callback: function(respons) {
                window.location.href="{% url 'payment:verify-payment' payment.ref %}";
            }
        }
        if (Boolean(currency)){
            obj.currency = currency.toUpperCase()
        }
        if (Boolean(plan)){
            obj.plan = plan;
        }
        var handler = PaystackPop.setup(obj);
        handler.openIframe();
    }
</script>
{% endblock %}