<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- css link -->
    <link rel="stylesheet" href="/css/newAccount.css">
  </head>
  <body>
      <main>
        <nav class="mb-4">
            <div class="synergy_logo">
              <a href="/index.html">
                <img src="/images/DXD_synergy_logo.jpg" alt="">
              </a>
            </div>
          </nav>

          <section class="text-center">
              <h6>WELCOME BACK, PrinceWill</h6>
              <p>Sign in again with Google to continue</p>

              <div class="sign_up_apps pb-3">
                <div class="">
                    <a href="" class="google_image">
                      <div>
                        <img src="/images/google_image.svg" alt="">
                      </div>
                      GOOGLE
                    </a>
                  </div>
              </div>

              <hr>

              <h6 class="not_you">NOT YOU?</h6>

              <div class="create_new_account">
                  <a href="">Sign into a different account</a>
                  <p class="mb-0 px-2">or</p>
                  <a href="/pages/myAccount.html">create a new one</a>
              </div>
          </section>

          <footer>
            <div class="footer_details">
              <div class="privacy_policy">
                <a  href="">Privacy Policy</a>
              </div>
              <div class="terms_condition">
                <a href="">Terms and condition</a>
              </div>
            </div>
      
          </footer>


      </main>



















    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>