{% extends "pages/base.html" %}
{% load static %}

{% block content %}

        <!-- CSS SWEET ALERT LINK -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">

        <link rel="stylesheet" href="{% static 'css/shopping.css' %}">
        <link rel="stylesheet" href="{% static 'css/productDecription.css' %}">

        <!--********************** HERO SECTION   *************************** -->

        <div id="content-d" class="category">
            <nav class="sub_category">
                <ul>
                    <!-- <li class="">
                        <a class="fashion_category" data-rel="#content-e" href="/sub_category/women.html">WOMEN</a>
                    </li> -->

                    <li>
                        <h5 href="">
                            25% OFF EVERYTHING!* <br>
                            <span>With code: WOO25</span>
                            </h6>
                    </li>
                    <!-- <li>
                        <a class="fashion_category" data-rel="#content-f" href="/sub_category/men.html">MEN</a>
                    </li> -->
                </ul>
            </nav>

            <section class="p-2">
                <div class="position-relative">
                    <div class="row justify-content-center carousel_overall">
                        <div class="mt-5 side_image_container">
                            <div>
                                <div id="zoom_01" class="side_image"><img src="{{product.photo_main.url}}" alt=""></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container-lg my-3">
                                <div id="myCarousel" class="carousel slide">
                                    <!-- Wrapper for carousel items -->
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="image1" src="{{product.photo_main.url}}" alt="First Slide">
                                        </div>
                                    </div>

                                    <!-- Carousel controls -->
                                    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                                        <span class="carousel-control-prev-icon"></span>
                                    </a>
                                    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                                        <span class="carousel-control-next-icon"></span>
                                    </a>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-4">
                            <div>
                                <p class="adidas_original">{{product.name}} <br>{{product.description}}</p>
                                <h3 class="pounds">N {{product.price}}</h3>
                                <p class="mt-4"><b>COLOUR</b>: {{product.color}}</p>
                                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                {{ cart_product_form }}
                                <div class="mt-4 w-md-75">
                                    {% csrf_token %}
                                    <button class="add_to_bag"><a type="submit">Add to Cart</a></button>
                                    <!-- <i class="fa fa-heart-o heart_icon" aria-hidden="true"></i> -->
                                </div>
                                </form>
                               

                                <div class="mt-4 delivery_container">
                                    <p> <i class="fa fa-truck" aria-hidden="true"></i> Free Delivery</p>
                                    <div class="d-flex ml-4">Ts & Cs apply.
                                        <a class="d-flex" href="">Learn more
                                            <div class="clone_icon"><img src="{% static 'images/clone-icon.png' %}" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <hr>

                    <section>
                        <div class="d-flex mb-3">
                            <h5 class="might_like_h5 px-3 font-weight-bold">Related Products</h5>
                        </div>
            
                        <ul class="might_like_sub-container">
                            {% for product in related_products %}
                            <li>
                                <div id="myCarousel1" class="carousel slide">
                                    <!-- Wrapper for carousel items -->
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="image1" src="{{ product.photo_main.url}}" alt="First Slide">
                                        </div>

                                        <!-- <div class="carousel-item bg-dark">
                                            <img src="{% static 'images/sneakers1.PNG' %}" alt="Second Slide">
                                        </div>

                                        <div class="carousel-item">
                                            <img src="{% static 'images/sneakers1.PNG' %}" alt="Third Slide">
                                        </div> -->
                                    </div>

                                    <!-- Carousel controls -->
                                    <a class="carousel-control-prev" href="#myCarousel1" data-slide="prev">
                                        <span class="carousel-control-prev-icon"></span>
                                    </a>
                                    <a class="carousel-control-next" href="#myCarousel1" data-slide="next">
                                        <span class="carousel-control-next-icon"></span>
                                    </a>
                                </div>

                                <!-- <div class="leg_wear"> <img src="/images/leg-wear.jpg" alt=""></div> -->
                                <div class="might_like_details">
                                    <div class="d-flex justify-content-between w-100">
                                        <a class="text-decoration-none" href="{{product.get_absolute_url}}"><h6 class="font-weight-bold product_name">{{product.name}}</h6></a>
                                        <p class=" font-weight-bold pb-0">N {{product.price}}</p>
                                    </div>
                                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="add_to_bag hello" value="{{product.id}}" id="add-button" ><a >Add to Cart</a></button>
                                    </form>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>

                </div>
            </section>
            <!-- <span id="points">...</span> -->
            <!-- <span  id="moreText"></span> -->
            <!-- <button onclick="toggleText()" id="textButton">
                            Show More
                        </button>   -->

            <!-- <div class="bg-dark bottom_hero_section position-static text-white">

                        <p class="mb-0">EASY DELIVERY WORLDWIDE</p>
                        <p class="mb-0">DISCOVER OVER 850 BRANDS</p>
                    </div> -->
        </div>
        
        <script src="{% static 'js/productDescription.js' %}"></script>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.6/src/jquery.ez-plus.js"></script>
        
        <!-- JAVASCRIPT SWEET ALERT LINK -->
         <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
{% endblock %}