{% extends "pages/base.html"%}
{% load static %}

{% block content %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
        <link rel="stylesheet" href="{% static 'css/terms_conditions.css' %}">

        <div id="content-d" class="category">
            <div class="sub_category">
                <ul>
                    <!-- <li class="">
                        <a class="fashion_category" data-rel="#content-e" href="/sub_category/women.html">WOMEN</a>
                    </li> -->

                    <li>
                        <h4 href="">
                            25% OFF EVERYTHING!* <br>
                            <span>With code: WOO25</span>
                        </h4>
                    </li>
                    <!-- <li>
                        <a class="fashion_category" data-rel="#content-f" href="/sub_category/men.html">MEN</a>
                    </li> -->
                </ul>
            </div>

            <section>
                <div class="containers">
                   <h1 class="text-center">Terms & Conditions</h1>

                   <div class="m-4">
                    <div class="accordion" id="myAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <div type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">Personal Data & Privacy Policy</div>									
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p>The Privacy Policy governs the processing of any personal information that you provide to dxd-synergy on this Website.   
              
                                        DXD-SYNERGY may update the Privacy Policy at any time without notice by posting such updates on this Website. 
                                        
                                        You will find the complete text of the Privacy Policy on the hyperlink labeled "Privacy and Cookies" in the “Legal” section of the footer of the Website.
                                        
                                        Please read carefully our Privacy Policy which governs the processing of your personal information.
                                        
                                        The Website is intended only for use by individuals 13 years of age and older.</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <div type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">Scope and Agreement on the Terms and Conditions of Sale</div>									
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p>In addition to the General Conditions of Use of the Website and the Privacy Policy, the purchase of products offered for sale on the www.dxd-synergy.com website (“Website”) is subject to these legally 
                                        binding General Terms and Conditions of Sale and, where applicable, to the Specific Terms and 
                                        Conditions of Sale (collectively, "Terms and Conditions of Sale"). 
                                        All of these documents are available in the “Legal” section of the footer of the Website.
                                        Your purchase and order of products on this Website constitutes your agreement with DXD-SYNERGY to comply with and be bound by the Terms and Conditions of 
                                        Sale. 
                                        
                                        For each order you place on the Website, your acceptance of the Terms and Conditions of Sale in 
                                        force as of the date of your order is required. The Terms and Conditions of Sale in effect at the 
                                        time of your order will govern that transaction.</a></p>
                                </div>
                            </div>
                        </div>
                      
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <div type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">Placing an Order – Customer Account</div>                     
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <h6> 2.1.Customer Account </h6>
                                    <p>You are required to create an account or log in to your existing account in order to place your 
                                        order on the Website. 
                                        Your username and password are for your personal use only. You are responsible for 
                                        maintaining the confidentiality of your username and password and for restricting access to your 
                                        account, and you agree to accept responsibility for all activities that occur under your account or password
                                        In no event shall DXD-SYNERGY be liable for any loss, theft or fraudulent use of your account. In such 
                                        a case, you should inform DXD-SYNERGY immediately.
                                        Creating an account allows you to:
                                        - track your deliveries and view your orders history;
                                        - return or exchange products;
                                        - add or change your shipping and billing addresses for future orders;
                                        - manage your subscriptions to the newsletter</a></p>
                                </div>
                            </div>
                        </div>

                          <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <div type="button" class="accordion-button  collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">Lorem, ipsum dolor?</div>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic delectus, cumque incidunt illum reprehenderit soluta.</a></p>
                                </div>
                            </div>
                        </div>

                          <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <div type="button" class="accordion-button  collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive">Lorem, ipsum dolor?</div>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic delectus, cumque incidunt illum reprehenderit soluta.</a></p>
                                </div>
                            </div>
                        </div>

                          <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSix">
                                <div type="button" class="accordion-button  collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix">Lorem, ipsum dolor?</div>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic delectus, cumque incidunt illum reprehenderit soluta.</a></p>
                                </div>
                            </div>
                        </div>

                          <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSeven">
                                <div type="button" class="accordion-button  collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSeven">Lorem, ipsum dolor?</div>
                            </h2>
                            <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic delectus, cumque incidunt illum reprehenderit soluta.</a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                </div>
            </section>

        </div>

        {% endblock %}