{% extends "pages/base.html"%}
{% load static %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
        <link rel="stylesheet" href="{% static 'css/terms_conditions.css' %}">

        <div id="content-d" class="category">
            <div class=" mt-3">
                {% for carousel in carousels %}
                <div id="myCarousel demo" data-ride="carousel" class="carousel slide">
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="sub_category">
                                <ul>
                
                                    <li>
                                        <h4 href="">
                                            <h3 class="pl-4 ml-3 font-weight-bold">{{carousel.name}}</h3><br>
                                            <p>{{carousel.message}}</p>
                                        </h4>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>

                        <div class="carousel-item bg-dark">
                            <div class="sub_category bg-danger">
                                <ul>
                
                                    <li>
                                        <h4 class="justify-content-center align-items-center" href="">
                                            <h3 class="pl-4 ml-3 font-weight-bold">{{carousel.name}}</h3><br>
                                            <p>{{carousel.message1}}</p>
                                        </h4>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="sub_category bg-success">
                                <ul>
                
                                    <li>
                                        <h4 class="justify-content-center align-items-center" href="">
                                            <h3 class="font-weight-bold">{{carousel.name}}</h3><br>
                                            <p>{{carousel.message2}}</p>
                                        </h4>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>

                        </div>
                    </div>

                    <!-- Carousel controls -->
                    <!-- <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a> -->
                </div>
                {% empty %}
                <div id="myCarousel demo" data-ride="carousel" class="carousel slide">
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="sub_category">
                                <ul>
                
                                    <li>
                                        <h4 href="">
                                            <h3 class="pl-4 ml-3">DXD SYNERGY</h3><br>
                                            <p>Dare To Be Extraordinaire...Living The Art</p>
                                        </h4>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>

                        <div class="carousel-item bg-dark">
                            <div class="sub_category bg-danger">
                                <ul>
                
                                    <li>
                                        <h4 href="">
                                            <h3 class="pl-4 ml-3 text-white">DXD SYNERGY</h3><br>
                                            <p class="text-white">Dare To Be Extraordinaire...Living The Art</p>
                                        </h4>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="sub_category bg-success">
                                <ul>
                
                                    <li>
                                        <h4 class="justify-content-center" href="">
                                            <h3 class="pl-4 ml-3 text-white">DXD SYNERGY</h3><br>
                                            <p class="text-white">Dare To Be Extraordinaire...Living The Art</p>
                                        </h4>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>

                        </div>
                    </div>

                    <!-- Carousel controls -->
                    <!-- <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a> -->
                </div>
                {% endfor %}

            </div>

            <section>
                <div class="containers py-3" >
                   <h1 class="text-center">Terms & Conditions</h1>

                   <div class="m-4">
                    <div class="accordion" id="myAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <div type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">Personal Data & Privacy Policy</div>									
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p>The Privacy Policy governs the processing of any personal information that you provide to dxd-synergy on this Website.   
              
                                        DXD-SYNERGY may update the Privacy Policy at any time without notice by posting such updates on this Website. 
                                        
                                        You will find the complete text of the Privacy Policy on the hyperlink labeled "Privacy and Cookies" in the “Legal” section of the footer of the Website.
                                        
                                        Please read carefully our Privacy Policy which governs the processing of your personal information.
                                        
                                        The Website is intended only for use by individuals 13 years of age and older.</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <div type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">Scope and Agreement on the Terms and Conditions of Sale</div>									
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p class="text-justify">In addition to the General Conditions of Use of the Website and the Privacy Policy, the purchase of products offered for sale on the www.dxd-synergy.com website (“Website”) is subject to these legally 
                                        binding General Terms and Conditions of Sale and, where applicable, to the Specific Terms and 
                                        Conditions of Sale (collectively, "Terms and Conditions of Sale"). 
                                        All of these documents are available in the “Legal” section of the footer of the Website.
                                        Your purchase and order of products on this Website constitutes your agreement with DXD-SYNERGY to comply with and be bound by the Terms and Conditions of 
                                        Sale. 
                                        
                                        For each order you place on the Website, your acceptance of the Terms and Conditions of Sale in 
                                        force as of the date of your order is required. The Terms and Conditions of Sale in effect at the 
                                        time of your order will govern that transaction.</a></p>
                                </div>
                            </div>
                        </div>
                      
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <div type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">Placing an Order – Customer Account</div>                     
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <h6> 2.1.Customer Account </h6>
                                    <p class="text-justify">You are required to create an account or log in to your existing account in order to place your 
                                        order on the Website. 
                                        Your username and password are for your personal use only. You are responsible for 
                                        maintaining the confidentiality of your username and password and for restricting access to your 
                                        account, and you agree to accept responsibility for all activities that occur under your account or password
                                        In no event shall DXD-SYNERGY be liable for any loss, theft or fraudulent use of your account. In such 
                                        a case, you should inform DXD-SYNERGY immediately.
                                        Creating an account allows you to:
                                        <ul>
                                        - track your deliveries and view your orders history;<br>
                                        - return or exchange products;<br>
                                        - add or change your shipping and billing addresses for future orders;<br>
                                        - manage your subscriptions to the newsletter
                                        </ul>
                                    </a></p>
                                </div>
                            </div>
                        </div>

                          <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <div type="button" class="accordion-button  collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">Placing an Order</div>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p class="text-justify">
                                        You may place your order via the Website or by telephone by calling  +234 (0) 7034429448   from 
                                        Monday to Friday, 9.00 a.m. to 6.00 p.m. West African Time (“WAT”) and on Saturday from 
                                        10.00 a.m. to 6.00 p.m. West African Time (“WAT”).
                                        <br>
                                        For each product selected on the Website, a summary page will be displayed featuring a 
                                        photograph of the item, its coloring and references, the quantity selected, its unit price and the 
                                        total amount owed for your order. 
                                        <br>
                                        You should check that this information accurately reflects your selection before confirming your order.
                                        Upon confirmation, your order will be submitted to DXD-SYNERGY for processing (see "Order 
                                        Confirmation"). While every effort is taken to try to ensure that the coloring, design and style of 
                                        the DXD-SYNERGY products in the photographs displayed on the Website are representative of the 
                                        original products, variations may occur due to technical restrictions of color reproduction on 
                                        your computer or mobile device. DXD-SYNERGY reserves the right to reject or to cancel your order in 
                                        its sole discretion for any reason without liability if, among other things, the products are not 
                                        available, are incorrectly priced or are otherwise incorrectly described. Accordingly, DXD-SYNERGY
                                        shall not be liable for any error or inaccuracy in the photographs or graphical representations of its products displayed on the Website. If you have any questions about the products, you 
                                        may contact Customer Service by clicking on the hyperlink labeled "Contact Us" in the 
                                        “Services” section of the footer of the Website.
                                        <br>
                                        DXD-SYNERGY reserves the right to cancel any order placed by a customer with whom it has a dispute 
                                        concerning a prior order, or if DXD-SYNERGY has reasonable cause to suspect that such customer has 
                                        violated these Terms and Conditions of Sale, or is engaged in any fraudulent activity or for any other legitimate business reason.
                                        For any exceptional order, please contact Customer Service by clicking on the hyperlink labeled 
                                        "Contact Us" in the “Services” section of the footer of the Website.</a></p>
                                </div>
                            </div>
                        </div>

                          <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <div type="button" class="accordion-button  collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive">Products Availability</div>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p class="text-justify">
                                        <h6>Services related to pre-orders</h6> <br>
                                        Pre-orders allow customers to reserve certain Products advertised on the Website before their 
                                        release date.<br>
                                        <h6>Purchase – Availability</h6><br>
                                        Products offered for sale and displayed on the Website are subject to availability. In order to 
                                        improve our quality service and ensure greater availability of our Products for all customers, 
                                        DXD-SYNERGY reserves the right to limit the number of Products which can be purchased per customer.
                                        DXD-SYNERGY shall not be liable in case of stock outage or unavailability of products. 
                                        DXD-SYNERGY reserves the right to change the products offered for sale on the Website at any time 
                                        and without notice. <br>
                                        Details about the availability of products are provided when you place your order. At times, 
                                        errors may exist, especially in case of simultaneous orders of the same product by several 
                                        customers. The availability date of the pre-ordered Product will be explicitly indicated on the 
                                        Product form. If the availability date changes, you will be notified immediately by email and/or 
                                        on your client account. In case a product is not available after you have placed your order, we 
                                        will inform you by email or by telephone as soon as possible. You will be invited to choose 
                                        another available product on the Website as substitution for the unavailable product or to cancel 
                                        your order. If you cancel your order, you will be refunded if your credit card or debit card has 
                                        been charged.
                                        <br>
                                        Customized products are final sale and cannot be cancelled once the order is placed.
                                    </a></p>

                                </div>
                            </div>
                        </div>

                          <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSix">
                                <div type="button" class="accordion-button  collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix">Order Confirmation</div>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p class="text-justify">
                                        After you click on the "Order and Pay" button, your order will be confirmed and submitted for 
                                        processing. To confirm a pre-ordered Product or any other Product requiring a longer handling 
                                        time, you must also allow DXD-SYNERGY SELLIER to retain your bank details until the product is 
                                        dispatched and for a maximum duration of 2 months for the purpose of debiting once your order 
                                        has been dispatched. Once submitted for processing you may not make any changes to or cancel 
                                        the order, except as expressly provided in these Terms and Conditions of Sale or applicable law. 
                                        The confirmation of your order means your acceptance of the Terms and Conditions of Sale.
                                        You will receive an order summary by e-mail.
                                        <br>
                                        DXD-SYNERGY reserves the right not to accept or to cancel your order if the products are not 
                                        available, are incorrectly priced or are otherwise incorrectly described.</a></p>
                                </div>
                            </div>
                        </div>

                          <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSeven">
                                <div type="button" class="accordion-button  collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSeven">Price Payment</div>
                            </h2>
                            <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p class="text-justify">
                                        All prices of DXD-SYNERGY products are indicated in US dollars/NAIRA, excluding taxes and shipping costs 
                                        (see "Shipping and Delivery").
                                        DXD-SYNERGY reserves the right to modify the prices of products offered on the Website at any time 
                                        without prior notice. You will be charged the prices displayed on the Website at the time your 
                                        order was confirmed provided the product ordered is available. DXD-SYNERGY reserves the right to 
                                        reject or to cancel your order if the products are not available, are incorrectly priced or are 
                                        otherwise incorrectly described.
                                        Payment is due immediately upon confirmation of your order. Store credits and/or gift 
                                        certificates issued by DXD-SYNERGY boutiques are not accepted for payment on the Website.
                                        All orders are payable in US dollars/NAIRA We accept the following charge cards and credit cards: 
                                        MasterCard, VisaCard, Credit card, Visa Electron, American Express. Your 
                                        order will only be shipped once we have verified your payment method and received 
                                        authorization to process your payment.
                                        The services Paystack is implemented on the Website. 
                                        These service protect credit and debit cards from unauthorized use when shopping on the 
                                        Website. Once you have a Paystack account, you will be automatically prompted to provide your private 
                                        password during the checkout process on the Website.
                                        Your debit card or credit card will only be debited when your order is shipped. You will not be 
                                        charged for unavailable products in your order.
                                        <br>
                                        The payment of an exchange order is subject to the conditions of Article 11.5 below.
                                        
                                        For more information, please refer to our Privacy Policy.
                                        
                                        When completing your order, you will be redirected to the confirmation page of dxd-synergy.com.
                                        <br>
                                        - If you have a dxd-synergy customer account, your order will automatically be linked to your 
                                        account.
                                        <br>
                                        - If you do not already have a dxd-synergy customer account, you will receive an email 
                                        confirming the creation of your account. You will then receive a link to set a password 
                                        for your customer account.
                                        <br>
                                        The payment of an exchange order is subject to the conditions of Article 11.6 below.</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <div type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">Shipping and Delivery - Delivery and In-Store Collection Zones</div>									
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p class="text-justify">
                                        <h6>For deliveries to a physical street address:</h6>
                                        Products will be shipped to the delivery address(es) specified during the ordering process 
                                        provided such address(es) is(are) located within the Delivery Zone. Any delivery address located 
                                        outside of the Delivery Zone will be refused during the ordering process.
                                        Products purchased via the Website may only be delivered to a physical street address within the 
                                        Delivery Zone. 
                                        <br>
                                        DXD-SYNERGY will not process any order for which a post office box address is 
                                        provided.
                                        <h6>For collection in store:</h6>
                                        You may choose to collect your order from a selection of DXD-SYNERGY Store When placing 
                                        your order, you will be notified which DXD-SYNERGY stores are eligible for in-store collection.
                                        You can also designate a third party to retrieve your order on your behalf in select DXD-SYNERGY
                                        stores (see "Delivery Time - Time required for delivery and collection").
                                    </a></p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <div type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">Shipping and Delivery - Shipping costs</div>									
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p class="text-justify">
                                        You will be asked to select the shipment method you would prefer as part of the order process. 
                                        The delivery times below are from the date your order has shipped.
                                        You can select from five delivery service options :
                                        <br>
                                        - Ground service is complimentary on all orders. Allow 
                                        up to two (3) business days for your order to ship from the date your order was placed, 
                                        unless subject to a shipping delay. You can expect to receive your order within one (1)
                                        to ten (10) business days from the shipment date.
                                        <br>
                                        - Express 2 day service will cost $35.00. Your order must reach us before 2 p.m. (WAT). 
                                        It will be delivered within two (2) business days, unless subject to a shipping delay.
                                        <br>
                                        - Standard Overnight service will cost $60.00. Your order must reach us before 2 p.m. 
                                        (WAT). It will be delivered within one (1) business day. 
                                        <br>
                                        - Priority Overnight service will cost $70.00.
                                        <br>
                                        - Saturday Delivery service will cost $85.00.
                                        <br>
                                        Out of delivery area surcharges may apply  where you 
                                        will be charged an additional $10. Orders with a retail subtotal above $10,000 will ship with 
                                        complimentary Priority Overnight delivery.
                                        <br>
                                        We will inform you of the shipping costs for the shipment method you select in the order summary 
                                        displayed on the Website before you confirm your order. This amount will be payable by you in 
                                        addition to the price, including taxes, of the products ordered.
                                    </a></p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <div type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">Delivery Time - Time required for delivery and collection</div>									
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p class="text-justify">
                                        <h6>
                                            For deliveries to a physical street address:
                                        </h6>
                                        When you place your order, we will inform you of the estimated time for delivery and the 
                                        various methods of delivery available for the product purchased.</p>
                                        <h6>8.2. For collection in store:</h6>
                                        Your items will be shipped same day if your order reaches us before 2 p.m. (WAT) with Express 
                                        shipping or within two (2) business days with Ground service unless subject to a shipping delay. 
                                        Please allow one (1) to ten (10) business days for delivery for orders with Ground shipping.
                                        An email will be sent to you when your order is available for in store collection.
                                        <br>
                                        To collect your order, please introduce yourself to a sales person when you arrive at the store and 
                                        bring:
                                        <br>
                                        - the email informing you of the availability of your order (printed out or on the screen of your 
                                        phone)
                                        <br>
                                        - proof of identification
                                        <br>
                                        If you choose to have your order collected by a third party, this person must provide the sales 
                                        specialist with:
                                        <br>
                                        - the email, passed on by you
                                        <br>
                                        - their ID
                                        <br>
                                        You have twenty-one (21) days to collect your order from the receipt of the email informing you 
                                        of its availability in store or your package will be recalled and processed as a refund to your 
                                        account. 
                                        <br>
                                        The signature of the person who collects the package is required upon delivery of the package.
                                    </a></p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <div type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">Delivery Time - Problems of delivery</div>									
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p class="text-justify">
                                        Any failure to deliver or late delivery exceeding eight (8) business days should be reported to 
                                        Customer Service as soon as possible. In order for your claim to be accepted, please notify us 
                                        within ten (10) business days from the date of confirmation of your order.
                                        <br>
                                        You should check that your shipment is correct on delivery. If there are any discrepancies in 
                                        your order when the products are delivered to you, you should note the nature of the potential 
                                        discrepancy (e.g., open package, damaged product, etc.) by hand, if possible, on the delivery 
                                        notice, and sign.
                                        <br>
                                        If the products do not conform to your order or you are not satisfied with them, you may return 
                                        them, exchange them or request a refund according to the terms and conditions contained in the 
                                        section entitled "Returns - Exchanges - Refunds". See also Specific Terms and Conditions of 
                                        Sale as applicable to your order.
                                    </a></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <div type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">Transfer of property</div>									
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p class="text-justify">
                                        The transfer of property occurs when the customer is charged which is concurrent to the time the 
                                        property leaves the distribution center. The third-party shipping provider is responsible for the 
                                        customer-owned property while the property is in transit, up until delivery confirmation is 
                                        provided at which point, the transfer of property is complete, and the buyer assumes responsibility 
                                        of the property.
                                    </a></p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <div type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">Returns - Exchanges – Refunds</div>									
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    <p class="text-justify">
                                        <h6>11.1. To dxd-synergy.com</h6>
                                        <h6>- 11.1.1 Principles and procedure of return</h6>
                                        You may return any product ordered on the Website for exchange or refund within thirty (30) 
                                        calendar days from the delivery date subject the terms and limitations set out below (see articles 
                                        11.1.1 to 11.1.4).
                                        <br>
                                        Returned products must be in their original condition and packaging ( the delivery box), together with their purchase invoice or a copy in the case of a partial 
                                        return. DXD-SYNERGY has sole discretion in determining whether the products purchased via the 
                                        Website are in original condition when returned.
                                        <br>
                                        Returning a product for exchange or refund is free of charge as long as you return the products to 
                                        us via our carrier by using our system of pre-paid return labels. Log in to your account and click 
                                        on "return or exchange items" in the "your orders" section. Follow the instructions which will 
                                        allow you to:
                                        <br>
                                        - choose the articles to return as well as the reason for the return;
                                        <br>
                                        - download and print your pre-paid return label and a copy of your invoice.
                                        <br>
                                        If you are unable or do not wish to use the pre-paid label service, please contact Customer 
                                        Service who will record your return. You can then return your package to the following address:
                                        4th Avenue, 403 road Festac, Lagos Nigeria.
                                        <br>
                                        In this case, please insure your package for the full retail value of the item. DXD-SYNERGY will 
                                        not be responsible or liable if any item you return to the Website is lost, misdirected or 
                                        delivered late insofar as you have to bear the risks of the shipping you have chosen.
                                        </p>
                                        
                                        <h6>- 11.1.2. Exchanges</h6>
                                        You may exchange an item for another item of lesser, equal or greater value subject to the 
                                        conditions below.
                                        <br>
                                        If you exchange an item for another item of greater value, you shall pay the difference in price.
                                        <br>
                                        If you exchange an item for another item of lesser value, you will be refunded within ten (10)
                                        <br>
                                        business days of receipt of the item returned by crediting your debit or credit card.
                                        <br>
                                        If you exchange an item, the shipping costs for the first delivery will not be refunded. However, 
                                        you will not be charged shipping costs for the second delivery.
                                        <br>
                                        Only one exchange per item will be honored.
                                        <br>
                                        The following specific conditions apply to exchanges of gifts: If you received an item as a gift 
                                        from the Website, you may exchange it for another item of equal or greater value only (the 
                                        difference in price must be paid by you, the recipient of the gift) subject to the conditions below. 
                                        No refund will be made if you exchange your gift for an item of lesser value. 
                                        <br>
                                        - for one or several different items which together are equal in value to the full value of 
                                        the original item you received as a gift.
                                        <h6>- 11.1.3. Refunds</h6>
                                        If you request a refund, DXD-SYNERGY will use commercially reasonable efforts to ensure that any 
                                        refund will be made within ten (10) business days of receipt of the product returned by crediting 
                                        your debit or credit card. Under no circumstances will you be granted an electronic credit usable 
                                        on the Website, nor will the Website issue a store credit for use in a dxd-synergy store.
                                        <h6>- 11.1.4 Limitations to exchanges and refunds</h6>
                                        We currently do not accept returns (neither exchanges nor refunds) for product purchased 
                                        in DXD-SYNERGY Stores via the Website.
                                        A product ordered on the Website that has been personalized cannot be returned for 
                                        exchange or refund.
                                        No 
                                        reimbursement will be made.
                                        Only one (1) return or exchange may be processed on an order. 
                                        <h6>11.2. To DXD-SYNERGY Stores</h6>
                                        Any product purchased (or received as a gift) from the Website may also be 
                                        exchanged for a different product or for a store credit in selected DXD-SYNERGY stores within thirty 
                                        (30) calendar days following the date of delivery, subject to the following terms and conditions:
                                        <br>
                                        - Returns must be in their original condition and packaging;
                                        <br>
                                        - You must provide the original receipt along with your return, or a copy of the receipt 
                                        if you are returning part of your order.
                                        <br>
                                        A list of DXD-SYNERGY stores offering exchange can be found by clicking on the link “Find a 
                                        store” and is also printed at the back of the receipt.
                                        <br>
                                        The shipping costs of the delivery of a product purchased on the Website will not be refunded 
                                        when you return (for exchange or store credit) the product to a dxd-synergy store.
                                        <br>
                                        dxd-synergy stores do not offer refunds on any product purchased on the Website. Under 
                                        no circumstances will it be possible to credit your debit or credit card.
                                        <h6>
                                            11.3. For collection in boutique
                                        </h6>
                                        Upon collection of your order, you may request to a sales person:
                                        <br>
                                        - an exchange or a store credit;
                                        <br>
                                        - a refund, if returned to the Website (except in the case of an order received as a gift). 
                                        <br>
                                        The store will return your items to the corresponding service of the Website.
                                        dxd-synergy will use commercially reasonable steps to refund your credit card within ten (10) 
                                        business days of dxd-synergy receipt of the product.
                                        <h6> 11.4. Returns & exchanges for PayPal orders</h6>
                                        If you ask for an exchange for an order completed with PayPal, your credit card details will be 
                                        required if the amount of the new exchange order is higher than the initial order, any additional 
                                        amount owing can only be paid by credit card. We are unable to accept PayPal payment for the 
                                        additional amount owed to complete the exchange order (www.dxd-synergy.com is unable to access 
                                        personal PayPal information). If the amount of the new order equals the initial order, no credit 
                                        card information/payment will be required.
                                        <br>
                                        If you ask for a refund, your PayPal account will be credited the original purchase amount, 
                                        excluding any shipping costs.
                                        <h6>11.5. Returns & exchanges for Apple Pay orders</h6>
                                        If you ask for an exchange for an order completed with Apple Pay, and if the amount of the new 
                                        exchange order is higher that the initial order, only bank card payments will be accepted. The 
                                        details of your bank card will be required to complete the purchase.
                                        <br>
                                        If you ask for a partial or total refund, your Apple Pay account will be credited the original 
                                        purchase amount.
                                        <h6>11.6. Returns & exchanges for dxd synergy shoes</h6>
                                        DXD SYNERGY shoes must be tried on clean, dry, and non-abrasive or carpeted surfaces to prevent 
                                        damage to the soles until you are sure of your purchase. Failure to do so may result in non-
                                        acceptance of your return.
                                        <br>
                                        1. Reservation of title
                                        <br>
                                        Products remain the property of dxd synergy until payment in full is made to dxd synergy.
                                        In case of a payment dispute, you agree to return the received products to dxd synergy immediately 
                                        upon request, and to assume the risks (in particular the loss, theft or damage) relating to the 
                                        delivered products.
                                        <br>
                                        2. Proof
                                        <br>
                                        The computerized data registered by the Website in the IT systems of DXD-SYNERGY establish the 
                                        terms of the transactions between DXD-SYNERGY and its customers. In the case of a dispute between 
                                        DXD SYNERGY and its customers relating to a transaction entered into using the Website, the data 
                                        registered by DXD-SYNERGY are the terms of the transaction and shall constitute the proof of 
                                        communication, orders and payments between the parties.
                                        <br>
                                        3. Governing Law – Disputes
                                        <br>
                                        Any disputes under these General Terms and Conditions of Sale shall be governed by the Section 
                                        6 “Governing Law – Disputes” of the Terms and Conditions of Use.
                                        <br>
                                        4. Disclaimer of Warranties
                                        <br>
                                        UNLESS STATED OTHERWISE, DXDSYNERGY PRODUCTS ARE SOLD ON AN "AS IS" "AS 
                                        AVAILABLE" BASIS AND WITHOUT REPRESENTATIONS OR WARRANTIES OF ANY 
                                        KIND, WHETHER IMPLIED OR BY LAW, STATUTORY OR OTHERWISE, INCLUDING 
                                        WITHOUT LIMITATION ANY WARRANTIES OF: (I) MERCHANTABILITY, (II) FITNESS 
                                        FOR A PARTICULAR PURPOSE, (III) NON-INFRINGEMENT, (IV) WORKMAN-LIKE 
                                        EFFORTS, (V) QUALITY, AND (VI) ACCURACY, AND (VII) TITL
                                    </a></p>
                                
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                </div>
            </section>

        </div>

        {% endblock %}