* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}

.about_us_image {
    background-image: url(/static/images/Twitter\ banner.jpg);
    height: 27.5rem;
    padding-top: 10rem;

    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    background-size: 83rem;
    background-repeat: no-repeat;
    background-position: center;
}

.containers {
    /* max-width: 90%; */
    margin: auto;
    padding-left: 15px ;
    padding-right: 15px;
}

.logo {
    /* height: 25rem; */
    width: 25rem;
    
}

.aabout-us {
    background: repeating-linear-gradient(55deg, rgba(231, 231, 231, 0.445), rgba(209, 209, 209, 0.363) 5px, rgb(209, 209, 209) 8px);
}


.facebook_icon1 {
    font-size: 15px;
    padding: 6px;
    /* margin: 0px 20px; */
    color: white;
    border-radius: 50%;
    /* background-color: rgb(60, 90, 153); */
}

.instagram_icon1 {
    font-size: 15px;
    padding: 6px;
    margin: 0px 20px;
    color: white;
    border-radius: 50%;
    /* background-color: purple; */
}

.snapchat_icon1 {
    font-size: 15px;
    padding: 6px;
    /* margin: 0px 20px; */
    color: white;
    /* background-color: rgb(255, 252, 2); */
    border-radius: 50%;
}


@media (max-width: 425px) {
    .logo {
        height: unset;
        width: 80%;
        margin: auto;
    }
}
