* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(238,238,238);

}

img {
    height: 100%;
    width: 100%;
}

main{
    height: fit-content;
    padding: 10px;
    padding-top: 70px;
    width: 320px;
    margin: auto;

}

section{
    background-color: white;
    margin: auto;
    padding: 20px;
}

nav{
    margin: auto;
}

.synergy_logo {
    width: 5rem;
    margin: auto;
}

.signin_header{
    display: flex;
    justify-content: space-evenly;
    /* border-bottom: 1px solid; */
}

.join_section{
    border-bottom: 1px solid rgb(7,112,207);
    width: 50%;
    font-weight: 800;
    text-align: center;
    padding-bottom: 20px;
}

.signin_section{
    border-bottom: 1px solid silver;
    /* border-left: 1px solid silver; */
    width: 50%;
    text-align: center;
}

.signin_section a{
    border-left: 1px solid silver;
    text-decoration: none;
    display: block;
    font-weight: 800;
    color: silver;
}

.sign_up_with{
    text-align: center;
    margin-top: 30px;
}

.sign_up_apps{
    margin-top: 30px;
}

.signing_up_with_social{
    font-size: 14px;
    padding-top: 10px;
}

.sign_up_with_email > h6{
    font-weight: 700;
    padding:  50px 5px;
    font-size: 20px;
}

.google_image > div, 
.facebook_image > div, 
.apple_image > div{
    width: 4rem;
    height: 2rem;
}

.google_image,
.apple_image,
.facebook_image{
    text-decoration: none;
    display: flex;
    padding: 5px 20px;
    margin: 10px;
    place-items: center;
    justify-content: space-around;
    border: 2px solid silver;
}

form{
    /* width: 60%; */
    margin: auto;
}

.days{
    width: 22%;
    height: 50px;
    padding: 2px;
}
.months{
    width:53% ;
    height: 50px;
    padding: 2px;
}
.years{
    width:22% ;
    height: 50px;
    padding: 2px;
}

.checkbox_groups{
    display: flex;
    justify-content: stretch;
    column-gap: 3rem;
}


.date-option-select{
    display: flex;
    gap: .2rem;
}

.contact_preferences{
    font-size: 12px;
}

.tell_us_emails{
    font-size: 10px;
}

/* The containers */
.containers {
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .containers input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-image: url(/images/ummarked_checkbox.png);
    background-repeat: no-repeat;
    background-size: 1.5rem;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .containers:hover input ~ .checkmark {
    /* background-color: #ccc; */
  }
  
  /* When the radio button is checked, add a blue background */
  .containers input:checked ~ .checkmark {
    background-image: url(/images/marked_checkbox.png);
    height: 1.5rem;
    width: 1.5rem;
    background-size: 1.5rem;
    border-radius: 50%;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .containers input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .containers .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      /* background: white; */
  }

.interseted_in{
    font-weight: 700;
    color: #878787;
}

.womenswear, 
.menswear{
    font-size: 12px;
}

.preferences{
    display: flex;
    justify-content: space-between;
}

.selectAll_button{
    border: none;
    padding: 3px 10px;
    font-weight: 800;
    font-size: 12px;
}

input[type=checkbox]{
    height: 24px;
    width: 24px;
    background-color: #fff;
    border: none;
}

.select_box_items{
    margin-top: 30px;
}

.select_box_items a{
    text-decoration: none;
    color: black;
}

.start_shopping_button {
    padding: 10px 0;
    border: none;
    width: 100%;
    background-color: rgb(45, 45, 45);
}

.start_shopping_button a {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

/* footer */

.footer_details{
    display: flex;
    justify-content: center;
    /* border-bottom: 1px solid; */
}

.privacy_policy a{
    text-align: center;
    /* padding-bottom: 20px; */
    text-decoration: underline;
    padding: 2px 5px;
    color: rgb(112, 112, 112);
    font-size: 12px;
}

.terms_condition{
    /* border-bottom: 1px solid silver; */
    text-align: center;
}

.terms_condition a{
    border-left: 1px solid silver;
    text-decoration: underline;
    padding: 2px 5px;
    color: rgb(112, 112, 112);
    font-size: 12px;
}
































