* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
    width: 100%;
}

.carousel_overall {
    margin-left: 0;
    margin-right: 0;
    place-items: start;
}

.side_image_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.side_image {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.carousel-inner {
    min-height: 35rem;
    background-color: #f9f9f9;

}

.carousel-control-prev-icon {
    background-image: url(/images/angle-left.png);
}

.carousel-control-next-icon {
    background-image: url(/images/angle-right.png);
}

.black-sneakers {
    width: 60%;
    /* margin: auto; */
    height: 600px;
}

.adidas_original {
    font-size: 20px;
    margin-top: 20px;
}

.pounds {
    font-weight: 700;
    font-size: 25px;
}

.please_select {
    width: 90%;
    height: 40px;
}

.add_to_bag {
    border: none;
    padding: 5px 20px;
    color: white;
    font-weight: 700;
    width: 67%;
    font-size: 12px;
    background-color: rgb(1, 136, 73);
}

.add_to_bag a {
    color: white;
    text-decoration: none;
}

.heart_icon {
    background-color: rgb(238, 238, 238);
    padding: 5px;
    font-size: 15px;
    border-radius: 50%;
}

.clone_icon {
    width: 20px;
    height: 20px;
}

.delivery_container {
    width: fit-content;
    border: 1px solid rgb(121, 121, 121);
    padding: 5px 95px 5px 5px;
}

.might_like_h5 {
    margin-left: 0rem;
}

.might_like_container li {
    list-style-type: none;
}

.might_like_container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);

}

.leg_wear {
    height: 70%;
    width: 90%;
}

.viewed_section {
    margin: 0 0;
}

.clear_all_button {
    border: none;
    font-weight: 700;
}

.recently_view_container {
    display: inline-flex;
    place-items: center;
}

.recently_view_sub-container {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 60%;
    gap: .7rem;
    margin: auto;
    justify-content: center;
    overflow: visible;
    transition: margin 1s ease-in-out, visibility 1s;
}

.recently_view_sub-container li {
    list-style-type: none;
    display: inline;
}

.viewed_leg_wear {
    height: 100%;
    width: 100%;
}

.angle_left_arrow {
    margin-left: 11rem;
    width: fit-content;
    height: fit-content;
    border: none;
    color: silver;
    font-size: xx-large;
    font-weight: 700;
    background-color: white;
}

.angle_right_arrow {
    margin-right: 11rem;
    width: fit-content;
    height: fit-content;
    border: none;
    color: silver;
    font-size: xx-large;
    font-weight: 700;
    background-color: white;
}

/* carousel */

.carousel_overall {
    margin-left: 0;
    margin-right: 0;
}

.carousel-inner {
    min-height: 10rem;
    background-color: #f9f9f9;

}

.carousel-item {
    text-align: center;
    position: unset;
    bottom: 0rem;
    /* min-height: 280px; */
}

.carousel-control-prev-icon {
    background-image: url(/images/angle-left.png);
}

.carousel-control-next-icon {
    background-image: url(/images/angle-right.png);
}

small {
    padding-bottom: 5px;
    display: block;
    width: 95%;
}

.carousel_overall {
    margin-left: 0;
    margin-right: 0;
}

.side_image_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.side_image {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

section>div>div {
    place-items: center;
}

.carousel-inner {
    min-height: 10rem;
    background-color: #f9f9f9;

}


.black-sneakers {
    width: 60%;
    /* margin: auto; */
    height: 600px;
}

.adidas_original {
    font-size: 20px;
    margin-top: 20px;
}

.pounds {
    font-weight: 700;
    font-size: 25px;
}


.add_to_bag {
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 20px;
    color: white;
    font-weight: 700;
    width: 80%;
    font-size: 10px;
    background-color: rgb(1, 136, 73);
}

.add_to_bag a {
    color: white;
    text-decoration: none;
}

.clone_icon {
    width: 20px;
    height: 20px;
}

.delivery_container {
    width: fit-content;
    border: 1px solid rgb(121, 121, 121);
    padding: 5px 95px 5px 5px;
}


.might_like_sub-container li {
    list-style-type: none;
    height: fit-content;
    margin-bottom: 30px;
}

.might_like_sub-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);

}

.leg_wear {
    height: 70%;
    width: 90%;
    margin: auto;
}

.might_like_details {
    width: 90%;
    margin: auto;

}

small {
    padding-bottom: 5px;
    display: block;
    width: 95%;
}


.filters_container {
    position: sticky;
    top: 0;
    /* z-index: 1; */
}

.clear_all_button {
    border: none;
    font-weight: 700;
}

.recently_view_container {
    display: inline-flex;
    place-items: center;
}

.recently_view_sub-container {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 60%;
    gap: .7rem;
    margin: auto;
    justify-content: center;
    overflow: visible;
    transition: margin 1s ease-in-out, visibility 1s;
}

.recently_view_sub-container li {
    list-style-type: none;
    display: inline;
}

.viewed_leg_wear {
    height: 100%;
    width: 100%;
}

.angle_left_arrow {
    margin-left: 11rem;
    width: fit-content;
    height: fit-content;
    border: none;
    color: silver;
    font-size: xx-large;
    font-weight: 700;
    background-color: white;
}

.angle_right_arrow {
    margin-right: 11rem;
    width: fit-content;
    height: fit-content;
    border: none;
    color: silver;
    font-size: xx-large;
    font-weight: 700;
    background-color: white;
}






/* ****************MEDIA QUERY******************* */

@media (max-width: 1024px) {
    .carousel-inner {
        min-height: 7rem;
        background-color: #f9f9f9;

    }
}

@media (max-width:768px) {

    .add_to_bag {
        border: none;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px 20px;
        color: white;
        font-weight: 700;
        width: 80%;
        font-size: 8px;
        background-color: rgb(1, 136, 73);
    }


    .select_filters {
        display: none;
    }

    .side_image_container {
        display: none;
    }

    .please_select {
        width: 85%;
        height: 40px;
    }

    .delivery_container {
        width: 100%;

    }

    .might_like_sub-container {
        display: grid;
        justify-content: unset;
        grid-template-columns: repeat(3, 1fr);
    }

    .viewed_section {
        margin: 0 0;
    }

    .angle_right_arrow {
        margin-right: 0;
    }

    .angle_left_arrow {
        margin-left: 0;
    }

    .might_like_h5 {
        margin-left: 0;
    }

    .carousel-item {
        position: unset;
        
    }

    .filters_container {
        z-index: 1;
    }

    .heart_icon {
        font-size: 15px;
    }
}

@media (max-width:500px) {
    .carousel-inner {
        min-height: 5rem;
        background-color: #f9f9f9;

    }

    .might_like_sub-container {
        display: grid;
        justify-content: unset;
        grid-template-columns: repeat(3, 1fr);
    }

    .recently_viewed_h5 {
        font-size: 12px;
    }

    .might_like_details>div>h6,
    .might_like_details>div>p {
        font-size: 9px;
    }

    .might_like_details:last-child {
        font-size: 9px;

    }

    small {
        font-size: 9px;
    }
}



@media (max-width: 375px) {
    .might_like_sub-container {
        display: grid;
        justify-content: unset;
        grid-template-columns: repeat(2, 1fr);
    }
}






/* ****************MEDIA QUERY******************* */

@media (max-width: 1024px) {
    .carousel-inner {
        min-height: 7rem;
        background-color: #f9f9f9;

    }
}

@media (max-width:768px) {
    .side_image_container {
        display: none;
    }


    .delivery_container {
        width: 100%;

    }

    .might_like_container {
        display: grid;
        justify-content: unset;
        grid-template-columns: repeat(4, 1fr);
    }

    .viewed_section {
        margin: 0 0;
    }

    .angle_right_arrow {
        margin-right: 0;
    }

    .angle_left_arrow {
        margin-left: 0;
    }

    .might_like_h5 {
        margin-left: 0;
    }
}

@media (max-width:500px) {
    .carousel-inner {
        min-height: 5rem;
        background-color: #f9f9f9;

    }

    .might_like_container {
        display: grid;
        justify-content: unset;
        grid-template-columns: repeat(3, 1fr);
    }

    .recently_viewed_h5 {
        font-size: 12px;
    }

    .might_like_details>div>h6,
    .might_like_details>div>p {
        font-size: 9px;
    }

    .might_like_details:last-child {
        font-size: 9px;

    }

    small {
        font-size: 9px;
    }
}

@media (max-width:425px) {
    /* .might_like_sub-container {
        display: grid;
        justify-content: unset;
        grid-template-columns: repeat(3, auto);
    } */

    .recently_viewed_h5 {
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    .might_like_container {
        display: grid;
        justify-content: unset;
        grid-template-columns: repeat(2, 1fr);
    }
}