* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
    width: 100%;
}

.bag_container{
    background-color: rgb(238,238,238);
    justify-content: center;
    position: sticky;
    top: 0rem;

    margin-left: 0;
    margin-right: 0;
}

.myBag_image{
    height: 100px;
    /* width: 150px; */
}

.bag_details{
    gap: 2rem;
}

.save_for_later{
    font-size: 10px;
}

.sub_total{
    gap: 3rem;
}

.sub_total >h5{
    font-size: 15px;
    font-weight: 700;
    place-items: center;
}

a{
    text-decoration: none;
    
}

.delivery_container_a{
    gap: 2rem;
}


a .standard_delivery {
    text-decoration: none;
    color: black;
    /* font-size: medium; */
}

.standard_delivery{
    gap: 2rem;
    text-decoration: none;

}

.standard_delivery_h4 {
    font-size: 17px;
    letter-spacing: 2px;


}
a .delivery_van{
    text-decoration: none;
}
.delivery_van{
    text-decoration: none;
    color: black;
}

.more_info{
    text-decoration: underline;
}

.exclamation_icon{
    text-decoration: none;
    color: silver;
}

.checkout_container{
    height: fit-content;
}

.checkout_button{
    margin-top: 7px;
    border: none;
    padding: 5px 20px;
    color: white;
    font-weight: 700;
    width: 100%;
    background-color: rgb(1,136,73);
}

.checkout_button a {
    color: white;
    text-decoration: none;
}

.we_accept{
    font-size: 15px;
    font-weight: 700;
    
}

div ul li {
    list-style-type: none;
}

.checkout_visa,
.checkout_mastercard,
.checkout_pay-pal,
.checkout_american-express{
    height: 20px;
    width: 30px;
    margin: 0px 10px;
}

.got_discount_p{
    font-size: 13px;
}

select {
    width: 14%;
}

.see_similar {
    /* margin-top: 7px; */
    padding: 5px 20px;
    color: black;
    border: 2px solid silver ;
    font-weight: 700;
    width: 40%;
    /* background-color: white; */
}

.see_similar a {
    color: black;
    text-decoration: none;
}

@media (max-width:700px) {
    .see_similar {
        width: 100%;
    }
}