* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
    width: 100%;
    /* color: white; */
}

/************* TOP NAVBAR *************/

.top_navbar {
    display: flex;
    justify-content: flex-end;

}

.top_navbar ul {
    display: flex;
}

.top_navbar li {
    list-style-type: none;
    padding: 5px;

}

.top_navbar ul li a {
    text-decoration: none;
    color: silver;
}

.top_navbar li a img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid var(--sm859b);
    box-shadow: 0 0 0 1px var(--na3s62);
    margin: 0 17px;
}



/******* MAIN NAVBAR **************/


/* .dropdowns {
    float: left;
    overflow: hidden;
  } */
  
  .dropdowns .dropbtns {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;

    font-size: 16px;  
    border: none;
    color: white;
    padding: 5px 5px;
    background-color: inherit;
    /* font: inherit; */
    margin: 0;
    outline: none;
  }

  .dropbtns:hover {
    border-bottom: 2px solid rgb(138,115,80);
}

.dropdowns:hover .dropbtns {
      border-bottom: 2px solid rgb(138,115,80);
  }
  
  .dropdown-contents {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    top: 4.3rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
  }
  
  .dropdown-contents .rows {
    background: white;
    padding-top: 2.1rem;
    color: white;
    display: flex;
    justify-content: center;
  }
  
  .dropdowns:hover .dropdown-contents {
    display: block;
  }
  
  /* Create three equal columns that floats next to each other */
  .columns {
    float: left;
    /* width: 33.33%; */
    width: 19%;
    /* margin: auto; */
    padding: 10px;
    /* padding-top: 3rem; */
    background-color: white;
  }
  
  .columns>h5 {
    padding-bottom: 10px;
    font-weight: 700;
    border-bottom: 2px solid black;
}

.columns>h5 > a {
    padding-bottom: 10px;
    text-decoration: none;
    color: rgba(2, 24, 24);
    font-size: 17px;
    /* font-weight: 700; */
    /* border-bottom: 2px solid black; */
}


.columns> h6 > a {
    padding-bottom: 10px;
    text-decoration: none;
    /* color: rgba(2, 24, 24); */
    color:  rgb(75, 75, 75);
    font-size: 17px;
    font-weight: 600;
    font-family: FFDINforPuma, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    /* border-bottom: 2px solid black; */
}

.columns>a {
    float: none;
    color: rgb(124, 124, 124);
    padding: 5px;
    font-size: 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.columns a:hover {
    background-color: white;
    color: rgb(138,115,80);


}
  



  /* Clear floats after the columns */
  .rows:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .columns {
      width: 100%;
      height: auto;
    }
  }
  

/* ***Dropdown */

/* **Dropdown ends */



.main_navbar {
    background-color: black;
    color: white;
    width: 100%;
    height: fit-content;
    /* display: flex; */
    /* justify-content: space-evenly; */
}


.navbrand_logo {
    display: flex;
    align-items: center;
    /* border-right: 1px solid silver; */
    padding: 0 20px;
}

.navbrand_logo a {
    width: 40px;
    /* height: 30px; */
    text-decoration: none;
    color: unset;
}


.main_navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding: 10px 30px;
}

.main_navbar
.women_section {
    padding: 0 20px;
    border-right: 1px solid silver;
    border-left: 1px solid silver;
    display: flex;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 12px;
}

.main_navbar  .men_section {
    /* padding: 0 20px; */
    padding-right: 25px;
    border-right: 1px solid silver;
    /* border-left: 1px solid silver; */
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 12px;
}

ul {
    margin-bottom: 0;

}

.main_navbar>ul>li>a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
}

form {
    width: 60%;
    display: inline-grid;
    align-items: center;
}

.search_bar {
    border-radius: 50px;
    padding: 10px 10px;
    border: none;
}

.input_field_area {
    position: relative;
    padding: 0px 10px;

}

.input_field_area input {
    border-radius: 50px;
    /* padding: 15px 10px; */
    border: none;

}

.search_icon {
    position: absolute;
    right: .9rem;
    top: .3rem;
    color: black;
}

.li_suitcase {
    display: flex;
    align-items: center;
    /* margin-right: -2rem; */
}

.checkout_suitcase {
    font-size: 21px;
    /* width: 50px; */
    /* height: 30px; */
}

::placeholder {
    color: silver;
}

.li_user_icon {
    display: flex;
    align-items: center;
}

.user_icon {
    font-size: 23px;
}

.category {
    display: none;
}


/************** SIDEBAR CATEGORY ********/

/* *************************************** */
/* *************************************** */
/* ********NEW CHANGES ADDED**********/
/* *************************************** */
/* *************************************** */


.side-bar_columns {
    height: 30rem !important;
}


.side-bar-columns>a {
    float: none;
    color: rgb(124, 124, 124);
    padding: 5px;
    font-size: 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.sub_columns {
    width: 90% !important;
}


.w3-sidebar {
    display: block;
    width: 32.5% !important;
    height: 100% !important;
    /* width: 200px; */
    background-color: #fff;
    position: fixed!important;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
}

@media (max-width: 768px) {
    .w3-sidebar {
        width: 80% !important;
       
    }
    
}


/* *************************************** */
/* *************************************** */
/* ********NEW CHANGES ADDED ENDS**********/
/* *************************************** */
/* *************************************** */


.sidebar {
    height: 80px;
    display: none;
    justify-content: space-between;
    color: rgb(38, 18, 63);
    /* box-shadow: 0 0.0625rem 0.125rem 0.0625rem silver; */
    padding: 0px 50px 0px 50px;
    align-items: center;
    position: absolute;
    width: 100%;

    /* flex-wrap: wrap; */
}

.logo {
    color: rgb(40, 28, 116);
    margin: .625rem;
    font-size: 2rem;
    font-weight: 700;
}

.sidebar ul {
    display: flex;
    list-style-type: none;
    margin: 10px;
}

.sidebar .togglebar i {
    display: none;
    cursor: pointer;
    margin: 10px;
}

.sidebar li a {
    text-decoration: none;
    margin: .625rem;
    flex-wrap: wrap;
    font-weight: 500;
    padding: 5px 10px;
    /* letter-spacing:1px; */
}

.sidebar li a:hover {
    color: white;
    background: #1b1b1b;
}

li .btn1 {
    color: rgb(253, 114, 137);
    background: white;
    border: 2px solid pink;
    border-radius: 5px;
    padding: 5px 1.25rem;
    margin-left: 10px;
}

li .btn2 {
    color: white;
    background: rgb(235, 101, 123);
    border: 2px solid rgb(221, 81, 104);
    border-radius: 5px;
    padding: 5px 1.25rem;
    margin-left: 10px;
}

#click {
    display: none;
}

@media (min-width:768px) {
    .items li {
        display: none;
    }
}

@media (max-width: 768px) {
    .sidebar {
        display: block;
        color: white;
        border: none;
        align-items: center;
        /* position: fixed; */
        top: .9rem;
        width: 5px;
        z-index: 4;

        /* flex-wrap: wrap; */
    }

    .sidebar ul {
        position: absolute;
        top: 25px;
        left: -300%;
        background: white;
        color: black;
        height: 100vh;
        width: 250px;
        margin-left: 0;
        display: block;
        height: fit-content;
        overflow: scroll;
        transition: all .5s ease;
        /* transition: transform .25s ease-out,-webkit-transform .25s ease-out; */
    }

    .items ul {
        /* display: none; */
    }

    .buttons {
        display: flex;
    }

    .sidebar ul li a {
        color: white;
    }

    #click:checked~.togglebar i:before {
        content: "\f00d";
    }

    .sidebar ul li {
        /* margin: 30px 0; */

    }

    .sidebar .togglebar i {
        display: block;
        position: relative;
        left: -2rem;
        /* top: rem; */
        color: white;
    }

    #click:checked~ul {
        left: 0%;
    }
}

.buttons {
    display: flex;
}

.buttons button {
    background-color: transparent;
    color: black;
    border: none;
    border-bottom: 1px solid silver;
}

.container {
    display: none;
}

.button.active {
    /* color: #C00; */
    border: none;
    border-bottom: 2px solid black;

}

.toggle_button_container {
    list-style: none;
    margin: 0;
    display: flex;
    vertical-align: top;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(45, 45, 45, .1);
    box-sizing: border-box;
}

.toggle_button_container .li_women {
    width: 50%;
    position: relative;
    display: inline-block;
    border-right: 1px solid silver;
}

.toggle_button_container .li_men {
    width: 50%;
    position: relative;
    display: inline-block;
}

.li_women button {
    height: 49px;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 900;
    background-color: white;
    border-style: none;
    cursor: pointer;
    padding: 0;
    line-height: 50px;
    outline: none;
    /* border: none; */
}

.li_men button {
    height: 49px;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--10c6hzt);
    letter-spacing: 2px;
    font-weight: 900;
    background-color: white;
    border-style: none;
    cursor: pointer;
    padding: 0;
    line-height: 50px;
    outline: none;
}

.sidebar_home_image_women {
    background-image: url(/images/sidebar_home_image.jpg);
    background-position: center;
    background-size: 220px 100%;

}

.sidebar_image_items_women {
    background-image: url(/images/sidebar_image_items.jpg);
    background-position: 0 0;
    background-size: 220px 100%;
    height: 70px;
    /* background-size: cover; */

}

.sidebar_image_items_women>p {
    font-size: 11px;
    font-weight: 700;
    padding-left: 10px;

}

.sidebar_home_image_men {
    background-image: url(/images/sidebar_home_image_men.jpg);
    background-position: center;
    background-size: 220px 100%;

}

.sidebar_image_items_men {
    background-image: url(/images/sidebar_image_items_men.jpg);
    background-position: 0 0;
    background-size: 220px 100%;
    height: 70px;

}


.sidebar_image_items_men>p {
    font-size: 11px;
    font-weight: 700;
    padding-left: 10px;

}

.sales_discount {
    background-image: url('https://images.asos-media.com/navigation/gradient_1_1m_041021?&$n_320w$');
    height: 76px;
}

.sales_discount>p {
    background-image: url('https://images.asos-media.com/navigation/gradient_1_1m_041021?&$n_320w$');
    height: 76px;
    /* padding-top: 30px 0 0 20px; */
    font-weight: 700;
    font-size: 11px;
}


/*********** SUB CATETEGORY ***********/

.sub_category {
    background-color: rgb(150, 195, 198);
    padding: 50px 55px;
}

.sub_category ul {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 10rem;
    margin-bottom: 0;
    list-style-type: none;
}

.sub_category ul a {
    text-decoration: none;
    font-weight: 900;
    border: 2px solid black;
    color: black;
    padding: 5px 20px;
}

.sub_category h5 {
    font-weight: bolder;
    font-size: 15px;
    color: black;
}

.hero_section {
    background-image: url('https://content.asos-media.com/-/media/homepages/unisex/generic-hp/archive/oct-2021/microsoftteams-image-(10).png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    height: 45rem;
    margin: auto;
    /* z-index: -1; */
}

.hero_section .hero_section_header {
    padding-top: 10rem;
}

.shop_men_button {
    border: none;
    color: black;
    padding: 10px 38px;
    background-color: white;
    font-weight: bold;
    margin: 0 10px;
}

.shop_women_button {
    border: none;
    color: black;
    padding: 10px 25px;
    background-color: white;
    font-weight: bold;
    margin: 0 10px;
}

section {
    background: white;
}

.bottom_hero_section {
    position: absolute;
    bottom: 0;
    background-color: rgb(138, 115, 80);
    display: flex;
    justify-self: center;
    justify-content: space-evenly;

    padding: 10px;
    height: fit-content;
    width: 100%;

}

.bottom_hero_section p {
    font-weight: 600;
}



/**************** SUBCATEGORY MEN SECTION ****************** */

.hero_section_image {
    /* height: 650px;
    width: 1200px;*/
    padding: 20px;
    margin: auto;
    display: block;
    max-width: 98%;
    width: auto;
    height: auto;
    /* max-height:200px; */
}

.topmen_images_clothing {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    padding: 10px 32px;
    text-align: center;
}

.topmen_images_clothing h6 {
    padding-top: 30px;
    font-size: 15px;
    font-weight: 700;
}

.topmen_images_clothing2 {
    display: grid;
    grid-template-columns: 30% 30%;
    gap: 15px;
    justify-content: center;
    padding: 10px 20px;
    text-align: center;
}

@media (max-width:768px) {
    .topmen_images_clothing {
        display: grid;
        grid-template-columns: auto auto;
        gap: 15px;
        padding: 10px 20px;
    }

    .topmen_images_clothing2 {
        display: grid;
        grid-template-columns: 90%;
        gap: 15px;
        justify-content: center;
        padding: 10px 20px;
        text-align: center;
    }

}

.outlet_discount {
    background-color: rgb(204, 255, 0);
    text-align: center;
    padding: 10px;
    /* font-weight: 900; */
}

.outlet_discount>h3 {
    font-weight: 900;
}

.outlet_discount>h6 {
    font-weight: 600;
}

.outlet_discount>p {
    font-size: 12px;
}

.trending_brands_section {
    text-align: center;
}

.brand_logos {
    display: grid;
    grid-template-columns: repeat(6, auto);
}

@media (max-width:768px) {
    .brand_logos {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
}


.topmen_images_clothing2 h6 {
    margin-top: 30px;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 2px;
}

.topmen_images_clothing2 button {
    margin-top: 10px;
    background-color: white;
    padding: 15px;
    border: 1px solid black;
    font-weight: 900;
    font-size: 20px;
}

.topmen_images_clothing2 button:hover {
    background-color: black;
    color: white;
    transition: .8s;
}

/* TRENDING BRANDS SECTION MEN */

.trending_brands_section {
    margin-top: 70px;
}

.trending_brands_section h1 {
    font-size: 20px;
    font-weight: 700;
    color: black;
    /* color: red; */
}

.brand_logos_image {
    /* height: 100px; */
    /* width: 100px; */
}


/**************** SUBCATEGORY WOMEN SECTION ****************** */

.hero_section_image_women {
    /* height: 650px;
    width: 1200px;*/
    padding: 20px;
    margin: auto;
    display: block;
    max-width: 98%;
    width: auto;
    height: auto;
    /* max-height:200px; */
}

.topwomen_images_clothing {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    padding: 10px 32px;
    text-align: center;
}

.topwomen_images_clothing h6 {
    padding-top: 30px;
    font-size: 15px;
    font-weight: 700;
}

.topwomen_images_clothing2 {
    display: grid;
    grid-template-columns: 30% 30%;
    gap: 15px;
    justify-content: center;
    padding: 10px 20px;
    text-align: center;
}

@media (max-width:768px) {
    .topwomen_images_clothing {
        display: grid;
        grid-template-columns: auto auto;
        gap: 15px;
        padding: 10px 20px;
    }

    .topwomen_images_clothing2 {
        display: grid;
        grid-template-columns: 90%;
        gap: 15px;
        justify-content: center;
        padding: 10px 20px;
        text-align: center;
    }
}


.outlet_discount_women {
    background-color: rgb(204, 255, 0);
    text-align: center;
    padding: 10px;
}

.outlet_discount_women>h3 {
    font-weight: 900;
}

.outlet_discount_women>h6 {
    font-weight: 600;
}

.outlet_discount_women>p {
    font-size: 12px;
}

.trending_brands_women_section {
    text-align: center;
}

.brand_logos_women {
    display: grid;
    grid-template-columns: repeat(6, auto);
}

@media (max-width:768px) {
    .brand_logos_women {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
}


.topwomen_images_clothing2 h6 {
    margin-top: 30px;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 2px;
}

.topwomen_images_clothing2 button {
    margin-top: 10px;
    background-color: white;
    padding: 15px;
    border: 1px solid black;
    font-weight: 900;
    font-size: 20px;
}

.topwomen_images_clothing2 button {
    background-color: black;
    color: white;
    transition: .8s;
}


/* TRENDING BRANDS SECTION WOMEN */

.trending_brands_women_section {
    margin-top: 70px;
}

.trending_brands_women_section h1 {
    font-size: 20px;
    font-weight: 700;
    color: black;
    /* color: red; */
}

.brand_logos_image_women {
    /* height: 100px; */
    /* width: 100px; */
}










/************ FOOTER  ****************/

footer {
    border-top: 1px solid silver;
}

footer .icons_and_images {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: fit-content;
    margin: auto;
}

footer .electronic_images {
    display: flex;
    height: fit-content;
    padding-left: 60px;
    border-left: 1px solid #999;
    margin-left: 70px;
    width: 100%;
}

@media (max-width:768px) {
    footer .electronic_images {
        display: none;
    }

    footer .icons_and_images {
        display: none;
    }
}

footer .electronic_images li {
    list-style-type: none;
}

.font_awesome_icons {
    display: flex;
    height: 20px;
    padding: 0;
}

.facebook_icon {
    font-size: 15px;
    padding: 6px;
    margin: 0px 20px;
    color: white;
    border-radius: 50%;
    background-color: rgb(60, 90, 153);
}

.instagram_icon {
    font-size: 15px;
    padding: 6px;
    margin: 0px 20px;
    color: white;
    border-radius: 50%;
    background-color: purple;
}

.snapchat_icon {
    font-size: 15px;
    padding: 6px;
    margin: 0px 20px;
    color: white;
    background-color: rgb(255, 252, 2);
    border-radius: 50%;
}

footer .visa_image,
.mastercard_image,
.pay-pal_image,
.american-express_image,
.visa-electron_image {
    height: 20px;
    width: 30px;
    margin: 0px 20px;
}

.footer_information {

    background-color: rgb(238, 238, 238);
    padding: 30px 25px;
}

@media (max-width:768px) {
    /* .footer_information {
        display: none !important;
    } */

}

.footer_information p {
    margin-bottom: 10px;
}

.footer_information a {
    text-decoration: none;
    color: rgb(122, 119, 119);
    font-size: small;
}

.footer_flag {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /* vertical-align: middle; */
    border: 1px solid var(--sm859b);
    box-shadow: 0 0 0 1px var(--na3s62);
    /* margin: 0 17px; */
}

.bottom_of_footer {
    background-color: rgb(221, 221, 221);
    padding: 10px 0;
}

.bottom_of_footer a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding: 0 10px;
}

.bottom_of_footer .privacy_and_cookies,
.terms_and_condition {
    border-right: 1px solid rgb(131, 129, 129);

}

.bottom_of_footer .copyright {
    font-size: 12px;
    padding-left: 25px;
    margin-bottom: 0;
    font-size: 12px;
}

.cookies {
    display: flex;
    justify-content: end;
}













/**************** MEDIA QUERIES ***************************/

@media (max-width:1024px) {
    .top_navbar {
        display: none;
        justify-content: flex-end;

    }
}

@media (max-width:768px) {
    .sub_category {
        display: none;
        background-color: rgb(38, 224, 102);
        padding: 10px 55px;
    }

    .main_navbar .men_section,
    .women_section {
        padding: 0 20px;
        border-right: 1px solid silver;
        display: none;
        align-items: center;
    }

    .main_navbar .women_section {
        display: none;
    }
    .copyright {
        text-align: center;
    }

    .cookies {
        justify-content: center;
    }




}

@media (max-width: 520px) {
    ::placeholder {
        color: silver;
        font-size: 8px;
    }

    .search_icon {
        position: absolute;
        right: 0.9rem;
        top: 0.7rem;
        color: black;
        font-size: .7rem;
    }


    .form1 {
        /* display: none; */
    }



    input[type=text]:focus {
        width: 100%;
    }

    /* input[type=text] {
        width: 130px;
        height: 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 50px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        transition: width 0.4s ease-in-out;
      }
       */
}